# Every content inside of .idea .gradle
.idea/
.gradle/

# Output file is no required to commit
*.iml
*.ipr
*.iws
.DS_Store
build/dependency-cache/
build/distributions/
build/docs/
build/install/
build/tmp/compileJava/
build/tmp/javadoc/
src/test/
